@import "tailwindcss";
@import "@repo/ui/globals.css";

@font-face {
  font-family: fontManrope;
  src: url("/fonts/Manrope-Extralight.ttf") format("truetype");
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: fontManrope;
  src: url("/fonts/Manrope-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: fontManrope;
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: fontManrope;
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: fontManrope;
  src: url("/fonts/Manrope-Semibold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: fontManrope;
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: fontManrope Fallback;
  src: local(Arial);
  ascent-override: 99.89%;
  descent-override: 23.74%;
  line-gap-override: 9.89%;
  size-adjust: 101.11%;
}

:root {
  --font-manrope: "fontManrope", "fontManrope Fallback";
}

html {
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  height: 100%;
}

body {
  height: inherit;
}

#app {
  height: 100%;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--primary);
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

@source '../../../packages/ui';
